

h1 {
  text-align: center;
}

/* Class*/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
	font-family: 'Inconsolata', monospace;
}

body{
	font-family: 'Shadows Into Light', cursive;
	background:lightgray;
	font-size:20px;
	}

a{
	text-decoration: none;
}
#image{
	display:inline-block;
}

.video{
	display:inline-block;
}


nav{background:url('../water.gif') no-repeat;
	background-size: cover;
	background-position:center;
	padding:15px;
}

nav a{
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
}

a{opacity:.5;
	color:black;
}

.nav-ul li{
	list-style: none;
	display:inline-block;

}



