<!doctype html>
<html>
  <head>
  <!--   <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
     <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"> 
     
  </head> 
  <body>
    <div class="main-container">
      <div class="border-container">
        <h1>Hop In</h1>
        <div class="col-lg-6 center-block">
          <div class="well bs-component">
            <form class="form-horizontal" action="/signup" method="post" id="select">
              <fieldset>
                <legend>Sign Up</legend>
                <div class="form-group">
                  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10">
                    <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email" required />
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                  <div class="col-lg-10">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" required/>
                  </div>
                  <div class="form-group">
                    <label for="inputSelect" class="col-lg-4 control-label">Talent</label><br>
                    <select form="select" name="TalentType">
                      
                      <option value="Vocalist">Vocalist</option>
                      <option value="Guitarist">Guitarist</option>
                      <option value="Bassist">Bassist</option>
                      <option value="Drummer">Drummer</option>
                      <option value="Songwriter">Song-Writer</option>
                      <option value="Engineer">Audio Engineer</option>
                      <option value="Producer">Producer</option>
                    </select>
                    <br/>
                    <label for="inputsample">Sample</label><br>
                  <textarea name="samplework" row="4" cols="40"></textarea>
                  </div>
                </div>
                <div class="form-group">
                    <label for="inputSelect" class="col-lg-4 control-label">Location</label><br>
                    <select form="select" name="location">
                      
                      <option value="US">US</option>
                      <option value="CANADA">CANADA</option>
                      <option value="MEXICO">MEXICO</option>
                      </select>
                </div>
                <div class="form-group">
                  <label for="inputimg">upload image url</label><br>
                    <input name="img" type="text">

                </div><br><br>

                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Join!</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
