{{>headerPartial}}
	<form action="postads" method="post">
		<div class="form-group">
		<label>Email</label>
		<input type="email" name="email" class="form-control" required/>
		<label>Ad</label>
		<input type="text" name="ad" class="form-control" required/>
		<label>location</label>
		<input type="text" name="location" class="form-control" required/>
		<label>seeking talent</label>
		<input type="text" name="talent" class="form-control" required/>
		<label>Date</label>
		<input type="date" name="date" class="form-control" required/>
		<br><br>
		<input type="submit">
		</div>
	</form>
{{>footerPartial}}