{{>headerPartial}}



<ul class="list-unstyled">
	
	{{#data}}
		<li class="pull-right">{{{sample}}}</li>
		<li><img src="{{img}}" style="width:300px;height:275px"/></li>
		
		<li><b>I am </b> {{email}}</li>
		<li><b>{{talent}}</b></li>
		<li><b>I am from </b>{{location}}</li>

		
		
		<form action="/book" method="post">
			<input type="hidden" name="email" value={{email}}/>
			<input type="date" name="date" />
			<input type="hidden" value={{location}} name="location" />
			<input type="hidden" value={{talent}} name="talent">
			<input type="hidden" value={{id}} name="id">
			<input type="submit" value="Book Me" class="btn btn-primary">
		</form>
		<br/>
		<form action="/message" method="post">
			<input type="hidden" name="receiverid" value={{id}}>
			<input type="submit" value="send message" class="btn btn-primary"/>
		</form>
	 <form action="/unavailabledates" method="post">
    <input type="hidden" name="id" value="{{id}}"><br>
    <input type="submit" value="UnAvailable dates" class="btn btn-danger"/>
   </form>
	{{/data}}



</ul>

{{>footerPartial}}
</body>
