<!DOCTYPE html>
<html>
<head>
	<title>update password</title>
</head>
<body>
	<form action="/update?_method=PUT" method="post">
		<label for="input email">Email</label><br>
		<input type="email" name="email"/><br>
		<label for="input image">Image</label><br>
		<input type="text" name="img"/><br>
		<label for="input iframe">video</label><br>
		<textarea name="sample"></textarea><br>
		<br><br>
		<input type="submit" value="Update">

	</form>

	<form action="/update?_method=DELETE" method="delete">
	</form>
</body>
</html>